.container {
    max-width: 900px;
}

.banner-container {
    position: relative;
    width: 100%;
    height: 250px;  
    background-color: #ffffff;
    overflow: hidden;
    padding-top: 10px; 
    padding-bottom: 20px; 
    border-top: 2px solid #cecece;
    border-bottom: 2px solid #cecece; 
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
}
 
.table {
  width: 60%;
  margin-top: 20px;
  border-collapse: collapse; 
  font-size: 0.95rem;
}
 
.table th {
  background-color: #343a40; 
  color: white;
  font-weight: 600;
  border-bottom: 2px solid #dee2e6; 
  text-align: left;
  padding: 10px 15px;
}

.table td {
  border-bottom: 1px solid #dee2e6; 
  padding: 10px 15px;
  vertical-align: middle;
}
 
.table td:first-child,
.table th:first-child {
  text-align: center;
  width: 50px;
}

.footer { 
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 0.9rem; 
}